@keyframes animate-gradient {
    to {
        background-position: 200% center;
    }
}

html, body {margin: 0; padding: 0; background: #121212;}
body::after {content: ""; position: fixed; left: 0; bottom: 0; width: 100%; height: 180px; pointer-events: none;background: linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,.1),transparent);}
.content {max-width: 1100px;margin: auto;background: #f5f5f5;padding: 30px;}
h1 a { font-family: serif; color: #377ba8; margin: 1rem 0; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav { height: 60px; background: #202124; display: flex; justify-content: flex-end; align-items: center; padding: 0 40px;}
nav a{color: white; text-decoration: none; transition: 0.5s; padding: 10px 16px; border-radius: 8px; font-size: 2rem;}
nav a:hover {color: #28b3ac; transform: translateY(-2px);}
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  {display: flex; gap: 20px; list-style: none;}
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.problem > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.problem > header > div:first-of-type { flex: auto; }
.problem > header h1 { font-size: 1.5em; margin-bottom: 0; }
.problem .about { color: slategray; font-style: italic; }
.problem .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }
.hero {justify-content: center;background:linear-gradient( rgba(0,0,0,.55), rgba(0,0,0,.75)),url("img/math_bg.png"); background-size: cover; background-position: center; background-repeat: no-repeat; display: flex; flex-direction: column; align-items: center; height: 420px; width: 100%;}
.hero h1 { font-family: serif;margin: 0;  background: linear-gradient(to right, #ffffff, #858585,#858585, #ffffff); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; animation: animate-gradient 5s linear infinite; background-size: 200%; font-size: 4.5rem; font-weight: 700;}
.hero p {margin-top: 0;color: #ffffff; font-size: large; margin: 0; background: linear-gradient(to right, #ffffff, #858585, #858585, #ffffff); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; animation: animate-gradient 5s linear infinite; background-size: 200%; font-size: 1.3rem;}

