{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Problemas{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('problem.create') }}">Novo problema</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for problem in problems %}
    <article class="problem-card">
        <div class="problem-header">
          <div>
            <h2>{{ problem['title'] }}</h2>
            <span class="subject-difficulty">
              {{ problem['subject']}} | {{ problem['difficulty']}}
            </span>
          </div>
          <p class="statement">
            {{ problem['statement']}}
          </p>
          <details>
            <summary>Mostrar resposta</summary>
            <p>{{ problem['answer'] }}</p>
            <p>{{ problem['resolution'] }}</p>
        </details>
        <div class="problem-footer">
          <span>
            👤 {{ problem['username']}}
          </span>
          <span>
            📅{{ problem['created'].strftime('%d/%m/%Y')}}
          </span>
        {% if g.user['id'] == problem['author_id'] %}
          <a class="action" href="{{ url_for('problem.update', id=problem['id']) }}">Editar</a>
        {% endif %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}