{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Problem{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('problem.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for problem in problems %}
    <article class="problem">
      <header>
        <div>
          <h1>{{ problem['title'] }}</h1>
          <div class="about">by {{ problem['username'] }} on {{ problem['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == problem['author_id'] %}
          <a class="action" href="{{ url_for('problem.update', id=problem['id']) }}">Editar</a>
        {% endif %}

      </header>
      <p class="statement">{{ problem['statement'] }}</p>
      <p class="difficulty">{{ problem['difficulty' ] }}</p>
      <p class="subject">{{ problem['subject' ] }}</p>
      <p class="answer">{{ problem['answer' ] }}</p>
      <p class="resolution">{{ problem['resolution' ] }}</p>

    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}