{% extends 'base.html' %}

{% block header %}
  <header class="page_header">
    <h1>{% block title %}Problemas{% endblock %}</h1>
    {% if g.user %}
      <a class="new_problem" href="{{ url_for('problem.create') }}">Novo problema</a>
    {% endif %}
  </header>
  <form method="get" class="filter_form">
    <h3>Filtrar problemas</h3>
    <div class="filter_search">
      <div>
        <label>Título</label>
        <input type="text" name="title" value="{{ request.args.get('title', '') }}">
      </div>
      <div>
        <label>Autor</label>
        <input type="text" name="author" value="{{ request.args.get('author', '') }}">
      </div>
      <div>
        <label>Assunto</label>
        <input type="text" name="subject" value="{{ request.args.get('subject', '') }}">
      </div>
      <div>
        <label>Dificuldade</label>
        <select name="difficulty">
            <option value=""{% if request.args.get('difficulty') == '' %}selected{% endif %}>Todas</option>
            <option value="fácil"{% if request.args.get('difficulty') == 'fácil' %}selected{% endif %}>Fácil</option>
            <option value="medio"{% if request.args.get('difficulty') == 'medio' %}selected{% endif %}>Médio</option>
            <option value="dificil"{% if request.args.get('difficulty') == 'dificil' %}selected{% endif %}>Difícil</option>
        </select>
      </div>
  </div>
    <input type="submit" value="Pesquisar">

</form>
{% endblock %}

{% block content %}
  {% for problem in problems %}
    <article class="problem-card">
        <div class="problem-header">
          <div>
            <h2>{{ problem['title'] }}</h2>
            <span class="subject-difficulty">
              {{ problem['subject']}} | {{ problem['difficulty']}}
            </span>
          </div>
          <p class="statement">
            {{ problem['statement']}}
          </p>
          <details>
            <summary>Mostrar resposta</summary>
            <p>{{ problem['answer'] }}</p>
            <p>{{ problem['resolution'] }}</p>
        </details>
        <div class="problem-footer">
          <span>
            👤 {{ problem['username']}}
          </span>
          <span>
            📅{{ problem['created'].strftime('%d/%m/%Y')}}
          </span>
        {% if g.user['id'] == problem['author_id'] %}
          <a class="Editar" href="{{ url_for('problem.update', id=problem['id']) }}">Editar</a>
        {% endif %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}